<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<a href="/"><h2>Search user</h2></a>

<form id="searchform">
    <input type="text" id="username" value="Anna">
    <input type="submit" value="Search">
</form>

<div id="status">

</div>
<div id="searchcounter">

</div>
<div id="userList">

</div>

<script type="text/javascript">
    checkjQuery();
    preventFormFromSending($("#searchform"));
</script>
</body>
</html>